.navbar {
    background: var(--dark);
    color: #fff;
    height: 80px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar__links {
    display: flex;
}

.navbar__links li {
    margin-right: 2rem;
}